main {
  background-color: #000;
  .netflix {
    padding: 70px;
    @include mobile {
      padding: 50px 18px;
    }
    @include tablet {
      grid-template-columns: 1fr;
      padding: 70px 45px;
    }
  }
}

main .separate {
  width: 100%;
  height: 10px;
  background-color: #222;
}

.netflix-tv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 0;

  &__content {
    margin-top: 50px;
    p,
    h2 {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &__right {
    height: 100%;
    display: flex;
    max-width: 100%;
  }

  &__show {
    overflow: hidden;
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    .video {
      height: 100%;
      overflow: hidden;
      left: 50%;
      max-height: 54%;
      width: 73%;
      position: absolute;
      top: 47.5%;
      transform: translate(-50%, -50%);
      // width: 100%;
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.netflix-offline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 100px 0;
  &__left {
    position: relative;
    .sub-img {
      background: $primary-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 95px;
      border: 2px solid gray;
      border-radius: 20px;
      overflow: hidden;
      &__left {
        display: flex;
        max-width: 100%;
        height: 100%;
        padding: 10px;
        img {
          object-fit: contain;
          margin-right: 10px;
        }
      }

      &__content {
        margin-top: auto;
        margin-bottom: auto;

        h5 {
          text-align: left;
        }
        span {
          color: blue;
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }

  &__content {
    h2,
    p {
      margin-bottom: 10px;
      text-align: left;
    }
    margin: auto;
  }
}

.netflix-everywhere {
  grid-gap: 0;
  padding-top: 0;
  article {
    margin-top: 0;
  }
}

.netflix-offlinel2,
.netflix-offlinel3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.netflix-offlinel3 .netflix-offline__left {
  margin: auto;
}

.netflix-offlinel3 {
  a {
    display: block;
    margin: auto;
  }
}

// =====Responsive============
.netflix {
  @include tablet {
    h2 {
      font-size: 40px;
      text-align: center;
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }

  @include mobile {
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 18px;
    }
  }
}

.netflix-tv {
  @include tablet {
    &__right {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.netflix-offlinel {
  @include tablet {
    display: flex;
    flex-direction: column-reverse;

    .netflix-offline__left {
      max-width: 80%;
      margin: auto;

      .sub-img {
        max-width: 70%;
      }
    }
  }

  @include mobile {
    .netflix-offline__left {
      max-width: 100%;
      margin: auto;
      .sub-img {
        max-width: 90%;
        height: 70px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.netflix-offlinel2 {
  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    img {
      display: block;
      margin: auto;
    }
  }
}

.netflix-offlinel3 {
  @include mobile {
    a {
      font-size: 18px;
    }
  }
}
